.welcome-message {
  margin: 10px 15px;
  font-size: 18px;
  font-weight: 300;
}
.greetings {
  font-size: 22px;
  font-weight: 500;
}

@media screen and (max-width: 480px) {
  .header {
    display: none;
  }
}

.menu {
  position: absolute;
  bottom: 0;
  width: 100%;
}
