.page-content {
  margin: auto;
  border: 1px solid #efefef;
  padding: 20px 15px;
  width: 40vw;
  margin-top: 5vw;
  border-radius: 3px;
  box-shadow: 1px 1px 7px -1px rgba(181, 181, 181, 0.75);
  -webkit-box-shadow: 1px 1px 7px -1px rgba(181, 181, 181, 0.75);
  -moz-box-shadow: 1px 1px 7px -1px rgba(181, 181, 181, 0.75);
}
@media screen and (max-width: 780px) {
  .page-content {
    width: 70vw;
    margin-top: 15vw;
  }
  input {
    font-size: 16px;
  }
}
@media screen and (max-width: 420px) {
  .page-content {
    margin-top: 30vw;
  }
}

.input-section {
  display: flex;
  flex-direction: column;
  position: relative;
}
.input {
  height: 40px;
  position: relative;
  margin-top: 20px;
  outline: none;
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 3px 10px;
}
.input-section .label {
  /* font-size: 14px; */
  position: absolute;
  top: 30px;
  left: 20px;
  color: darkgray;
}
.input[type="password"] {
  letter-spacing: 0.2rem;
}
.input[type="email"] {
  font-size: 14px;
  letter-spacing: 0.05rem;
}
.input:focus ~ label,
.input:valid ~ label {
  top: 11px;
  background-color: white;
  padding: 0px 3px;
  transition: 0.5s top;
  font-size: 14px;
  font-weight: 500;
  color: rgb(130, 130, 130);
}
.asterik {
  color: red;
}

.cta-section {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  align-items: center;
}
.signin {
  background-color: #804996;
  border: none;
  color: white;
  font-size: 16px;
  width: 50%;
  font-weight: 600;
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 10px;
}
.no-account {
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 10px;
  color: rgb(66, 66, 66);
}
.sign-up {
  font-weight: 600;
  color: #f66b0e;
}
.sign-up:hover {
  cursor: pointer;
}

.google-container {
  padding-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  border-top: 1px solid lightgray;
}
.google-signin {
  background-color: #112b3c;
  color: white;
  border: none;
  width: 70%;
  font-size: 14px;
  font-weight: 300;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 5px;
  text-transform: uppercase;
}
.google-logo {
  margin-left: 10px;
}
@media screen and (max-width: 720px) {
  .google-signin {
    font-size: 12px;
  }
  .google-logo {
    margin-left: 5px;
  }
}
